##############################################################################
# EDG Virtual Organisations
# eg 'group ldap://grid-vo.cnaf.infn.it/ou=testbed1,o=infn,c=it .infngrid'
##############################################################################

{% for vo in supported_vos_dict %}
# {{ vo.name }}
{% for my_voms in vo.voms %}
group vomss://{{ my_voms.hostname }}:{{ my_voms.port }}/{{ vo.name }}?/{{ vo.name }} .{{ vo.name  | replace('.','') | replace('-','') }}  
{% endfor %}

{% endfor %}

# Local groups
gmf_local /etc/grid-mapfile-local
gmf_local /etc/lcmaps/gridmapfile
